body {
    height: 100%;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.header__container {
    width: 100%;
    height: 6.25rem;
}

.header__navbar {
    background-color: var(--grey-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    padding: 1.25rem;
    gap: .75rem;
}

.main__container p {
    margin-bottom: 1rem;
}

.userInfo__div {
    display: flex;
    align-items: center;
}

.userInfo__parags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.container__newPost {
    display: flex;
    flex-direction: column;
    background-color: var(--white-fixed);
    gap: 1.375rem;
    margin-top: 1.75rem;
}

.itemsPost__div {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
}

.itemsPost__div--title {
    padding: 1rem 1.25rem;
    border: 2px solid var(--grey-4);
    border-radius: .25rem
}
.itemsPost__div--description {
    padding: 1.75rem 1.3125rem 4.375rem;
    border: 2px solid var(--grey-4);
    border-radius: .25rem
}

.itemsPost__div--title:focus,
.itemsPost__div--description:focus {
    border: 2px solid var(--brand-1);
}

.itemsPost__div--btnDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#postBtn {
    width: 4.3125rem;
    height: 2.375rem;
    padding: 0;
    background-color: var(--grey-4);
    color: var(--grey-2);
    border-radius: .25rem;
    cursor: pointer;
}

#postBtn:hover {
    background-color: var(--brand-1);
    cursor: pointer;
    transition: 0.5s;
}

h2 {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.25rem;
}

.container__suggestions {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.container__list--user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .3125rem;
    align-items: flex-start;
}

.container__list--user-li {
    list-style-type: none;
}

.user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    height: 90px;
}

.suggested__user-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.btnNotFollowing,
.btnFollowing {
    background-color: transparent;
    border: 1px solid #007bff;
    border-radius: 4px;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 8px;
}

.btnFollowing {
    background-color: var(--brand-1);
    color: #ffffff;
}
  
.container__posts--titlePosts {
    font: var(--title-1-700);
    color: var(--grey-1);
    font-weight: bold;
    margin-bottom: 3rem;
    font-size: 28px;
}

.post__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
.post__user-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}
  
.post__text {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.likes-icon {
    width: 1.25rem;
    width: 1.25rem;
}

.custom-btn {
    background-color: var(--grey-1);
    color: var(--white-fixed);
    padding: .75rem .75rem; 
    border: none;
    border-radius: 4px;  
    cursor: pointer; 
    transition: 0.3s; 
    text-decoration: none; 
}
  
.custom-btn:hover {
    background-color: var(--brand-1); 
}